/* line 17, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 3, ../sass/space.sass */
body {
  background-color: black;
  /* background: image-url("visit-space.jpg") black */
}

/* line 7, ../sass/space.sass */
#sun {
  position: fixed;
  right: 50px;
  width: 300px;
  height: 300px;
  border-radius: 150px;
  background-color: #feec85;
  box-shadow: 0 0 20px #fefcc9, 10px -5px 30px #feec85, -20px -10px 40px #ffae34, 20px -20px 50px #ec760c, -20px -30px 60px #cd4606, 0 -40px 70px #973716, 10px -45px 80px #451b0e;
}

/* line 16, ../sass/space.sass */
.star {
  /* text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ff00de, 0 0 70px #ff00de, 0 0 80px #ff00de, 0 0 100px #ff00de, 0 0 150px #ff00de */
  color: white;
  font-size: 20px;
  position: absolute;
  z-index: -2;
}

/* line 23, ../sass/space.sass */
canvas {
  border: 3px solid white;
}

/* line 26, ../sass/space.sass */
h1 {
  font-family: "Ubuntu", sans-serif;
  font-size: 144px;
  color: white;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 0px 3px 0px #b2a98f, 0px 14px 10px rgba(255, 255, 255, 0.15), 0px 16px 2px rgba(255, 255, 255, 0.1), 0px 24px 30px rgba(255, 255, 255, 0.1);
}

/* line 34, ../sass/space.sass */
form {
  font-family: sans-serif;
  position: absolute;
  left: 670px;
  top: 30px;
}
/* line 39, ../sass/space.sass */
form label {
  float: right;
  clear: right;
  color: white;
}
/* line 43, ../sass/space.sass */
form input {
  text-align: center;
  font-size: 24px;
  padding: 10px;
  width: 80px;
}
/* line 48, ../sass/space.sass */
form button {
  margin-top: 15px;
  font-size: 22px;
  float: right;
  clear: right;
}
