@import compass/reset

body
	background: image-url("visit-space.jpg") black

#sun
	position: fixed
	right: 50px
	width: 300px
	height: 300px
	border-radius: 150px
	background-color: #feec85
	box-shadow: 0 0 20px #fefcc9, 10px -5px 30px #feec85, -20px -10px 40px #ffae34, 20px -20px 50px #ec760c, -20px -30px 60px #cd4606, 0 -40px 70px #973716, 10px -45px 80px #451b0e

h1
	font-family: 'Ubuntu', sans-serif
	font-size: 144px
	color: white
	text-align: center
	text-transform: uppercase
	text-shadow: 0px 3px 0px #b2a98f, 0px 14px 10px rgba(255,255,255,0.15), 0px 16px 2px rgba(255,255,255,0.1), 0px 24px 30px rgba(255,255,255,0.1)

